*~
*.o
*.so
*.dylib
*.tmp
*.log
*.pc
*.swp
*.bak
*.ulog
*.wal
*.kc*
*.kt*
*.rts
*.pid
*.out
*-ulog
casket*
.vagrant*
config.status
autom4te.cache
kyotocabinet/Makefile
kyotocabinet/libkyotocabinet.*
kyotocabinet/kccachetest
kyotocabinet/kcdirmgr
kyotocabinet/kcdirtest
kyotocabinet/kcforestmgr
kyotocabinet/kcforesttest
kyotocabinet/kcgrasstest
kyotocabinet/kchashmgr
kyotocabinet/kchashtest
kyotocabinet/kclangctest
kyotocabinet/kcpolymgr
kyotocabinet/kcpolytest
kyotocabinet/kcprototest
kyotocabinet/kcstashtest
kyotocabinet/kctreemgr
kyotocabinet/kctreetest
kyotocabinet/kcutilmgr
kyotocabinet/kcutiltest
kyototycoon/Makefile
kyototycoon/libkyototycoon.*
kyototycoon/ktremotemgr
kyototycoon/ktremotetest
kyototycoon/ktserver
kyototycoon/kttimedmgr
kyototycoon/kttimedtest
kyototycoon/ktutilmgr
kyototycoon/ktutilserv
kyototycoon/ktutiltest
build/
