[Unit]
Description=Kyoto Tycoon server
After=network.target

[Service]
User=kyoto
Group=kyoto
Type=simple
WorkingDirectory=/var/lib/kyoto
EnvironmentFile=-/etc/default/kyoto
RuntimeDirectory=kyoto
ExecStart=/usr/bin/ktserver -pid /var/run/kyoto/kyoto.pid $KTSERVER_OPTS
Restart=no
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
